---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
---

<Layout title="About">
    <!-- Header -->
    <Header title="About" id="about-header" />

    <!-- Page content -->
    <div>
        <section>
            <p>
                <strong>Are you seeking true community?</strong><br><br>

Have you noticed that most people are dissatisfied with the state of the world? Yet too often, we rely on the same old approaches for change: pushing for new laws, electing different politicians, or hoping for shifts in moral attitudes. But, regardless of how many laws are passed, or whoever is elected, or how much preaching there is on morality, everything continues moving in the same general direction—downward. <br><br>

Are you ready for something truly different? If you genuinely desire change, then you must change. Imagine a group of people, even a small one, united by a common purpose and vision. Committed to helping and caring for each other, they reject the lies and compromises of the culture. Instead, they embrace the truths and traditions of the past to build a future founded on hope. <br><br>

Let's envision a better future rather than blindly accepting the status quo of what is considered “normal.” The current working definition of socio-cultural “normalcy” is deeply flawed. The way things are now does not align with how our ancestors lived. They wouldn't have tolerated this, so why should we? It's time to expect better and build it for ourselves. 
            </p>
        </section>

    </div>
</Layout>
