---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import ContactForm from '../components/ContactForm.astro';

export const prerender = true;
---

<Layout title="Contact Us">
    <Header title="Contact Us" id="about-header" />

    <div class="w-11/12 flex justify-center mb-40 mt-32 2xl:gap-x-20 mx-auto 2xl:flex-row text-primary flex-col place-items-center 2xl:place-items-start gap-20 2xl:gap-40">
      <div class="flex-col flex gap-4 2xl:gap-10 2xl:w-5/12 w-10/12 blackOutline ">
        <h1 class="2xl:text-6xl text-accent font-serif text-5xl">
          Join Our Intentional Community
        </h1>
        <div class="2xl:text-2xl text-2xl text-black space-y-6">
          <p>
            Are you ready to take the next step toward a more intentional, self-reliant, and community-focused life? We are looking for like-minded individuals and families who are passionate about building a future founded on truth, tradition, and mutual support.
          </p>
          <p>
            Please fill out the application form. This helps us understand your background, your values, and your reasons for taking interest in our community. 
          </p>
        </div>
      </div>

      <ContactForm />
    </div>
</Layout>
