---
---
<footer>
    <div class="footer-segment">
        <h4>Links</h4>
        <ul>
            <li><a href="https://www.mo-schools.com/" target="_blank">Missouri Schools</a></li>
        </ul>
    </div>
    <div class="footer-segment">
        <h4>Address</h4>
        <p><a href="https://maps.app.goo.gl/Qx5pntkzun1XGihF6" target="_blank">3100 NW Winchester Rd,<br>Cameron, MO 64429</a></p>
    </div>
    <div class="footer-segment">
        <h4>Phone: (816) 575-2798</h4>
        <p class="tristan">Website design by: <a href="https://colliertr.github.io/Tristan-Collier/">Tristan Collier</a></p>
    </div>
</footer>
