---
---
<nav>
    <a href="/" class="no-change"><h1>Alternative Everything</h1></a>
    <div class="navbar">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <div class="dropdown">
          <button class="dropbtn">More 
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="/our-values">Our Values</a>
            <a href="https://www.mo-schools.com/">Mo-schools</a>
          </div>
        </div> 
      </div>
    <a href="tel:816-575-2798"><button><i class="fa fa-phone fa-lg" style="padding-right: .5em;"></i> 816-575-2798</button></a>
</nav>
